h1 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Oswald', serif;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.header__logo {
  position: relative;
  font:bold 24px/31px pt_serifbold, arial,helvetica,sans-serif;
  padding: 40px 0;
  padding-left: 44px;


}
.header__logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: .7;
}
.header__logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.header__logo__circle_color_dark-blue {
  background: #0056EC;
}

.header__menu {
  display: flex;
  align-items: center;

}

.header__menu_item {
  position: relative;
  margin-right: 26px;
  font:500 18px/21px Roboto, arial,helvetica,sans-serif;
  color:#000;
  text-decoration: none;

}
.header__menu_item:last-child {
  margin-right: 0;
}
.header__menu_item:hover {
  opacity: .5;
}

.header__menu_item:hover:after, .header__menu_item_active:after {
  opacity: 1;
  width: 100%;
}

.header__menu_item_active:after {
  display: block;
  position: absolute;
  content:"";
  left:0;
  width: 0;
  height: 3px;
  transition: opacity .5s, width .5s;
  background: #0056EC;
}

body {
  margin: 0;
}
.wrapper {
  margin:auto;
  width: 80%;
}

.main__title {
  margin:0 0 40px 0;
  font:bold 50px/66px pt_serifregular, arial,helvetica,sans-serif;
}

.main__title-text__highlight {
  background: #ECF3FF;
}

.main__description {
  margin:0 0 41px 0;
  font:bold 18px/21px Roboto, arial,helvetica,sans-serif;
}
.main {
  padding:0 63% 100px 0;
  background:top right no-repeat url(./img/main.svg);
}

.main__button {
  display:inline-block;
  padding: 14px 16px;
  color: #fff;
  background: #0056EC;
  font:14px/16px Roboto, arial,helvetica,sans-serif;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__button:hover {
  opacity: .5;
}
